<h1 class="pb-4">Search Results</h1>

<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
  <% if(search_res != '') { %>
    <% search_res.forEach(function(res, index){ %>
    <a href="/post/<%= res._id %>" class="col text-center category__link">
      <div class="category__img category__img--large shadow">
        <img src="/uploads/<%= res.image %>" alt="<%= res.name %>" loading="lazy">
      </div>
      <div class="pt-1"><%= res.name %></div>
    </a>
    <% }) %>
  <% } else { %>
    <p>No items found.</p>
  <% } %>
</div>